/* Global styles for the entire page */
.bodyMain {
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .titleMain {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titleLinks {
    font-family: "-moz-initial"; 
    text-decoration: none;  
    color: black;
  }

  .diningMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Styles for each dining section */
  .diningSection {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 30px;
    padding: 10px;
  }
  
  .diningHallSection {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
  }
  

/* Gradients of red and green for even and odd dining hall sections */
.diningHallSection.even {
    background: linear-gradient(to right, #ff0000, #e0a910);
  }
  
  .diningHallSection.odd {
    background: linear-gradient(to right, #00ff00, #0af0ca);
  }
  
  
  /* Additional styles for dining hall information */
  .diningHallName {
    margin-top: 1em;
  }
  
  .diningHallDescription {
    text-decoration: underline;
  }
  
  .hoursContainer {
    display: flex;
    justify-content: space-between;
  }
  
  /* Add more CSS styles as needed */
  